<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>iClimate Stories</title>
</head>

<body>
	<div class="container is-mobile">
		<div class="content">
			<br/>
			<h1>iClimate Stories</h1>
		</div>
		
		<br/>

		<form action="/search" method="post">
			<div class="columns">
				<div class="column is-offset-3">
					<input class="input" type="text" name="search" placeholder="Enter your search here"></input>
					<br/>
					<div class="columns">
						<div class="column is-offset-3">
							<div class="field is-grouped">
								<p class="control">
									<input type="radio" id="selectTitle" name="title">Title</input>
								</p>
								<p class="control">
									<input type="radio" id="selectAuth" name="author">Author</input>
								</p>
								<p class="control">
									<input type="radio" id="selectStory" name="story">Story</input>
								</p>
								<p class="control">
									<input type="radio" id="selectAll" name="all">Search All</input>
								</p>
								<div class="check"><div class="inside"></div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<button class="button is-primary" id="searchBtn" type="submitSearch">Submit</button>
				</div>
			</div>
		</form>

		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Story</th>
					<th></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Story</th>
					<th></th>
				</tr>
			</tfoot>
			<tbody>
				<% data.forEach(function(dbData){ %>
				<tr>
					<td><%= dbData.title %></td>
					<td><%= dbData.author %></td>
					<td><%= dbData.story %></td>
					<td><span class="icon"><i class="fa fa-remove"></i></span></td>
				</tr>
				<% }); %>		
			</tbody>
		</table>
		<br/>

		<div class="columns">
			<div class="column is-offset-5">
				<a class="button is-primary" id="myBtn">Submit a story here</a>
			</div>
		</div>

		<!-- <div class="content">
			<p>Search <a href="/search">here</a>.</p>
		</div> -->

		<form action="/storylist" method="post">
			<div class="modal" id="myModal">
			  <div class="modal-background" id="background"></div>
			  <div class="modal-card">
			    <header class="modal-card-head">
			      <p class="modal-card-title">Create a Story</p>
			      <button class="delete" id="del"></button>
			    </header>
			    <section class="modal-card-body">
			    		<div class="field">
			    			<label class="label">Name</label>
			    			<p class="control">
			    				<input class="input" type="text" name="author" placeholder="Enter your name">
			    			</p>
			    		</div>
			    		<div class="field">
			    			<label class="label">Title</label>
			    			<p class="control">
			    				<input class="input" type="text" name="title" placeholder="Enter the title of your story">
			    			</p>
			    		</div>
			    		<div class="field">
			    			<label class="label">Story</label>
			    			<p class="control">
			    				<textarea class="textarea" type="text" name="story" placeholder="Type your story here"></textarea>
			    			</p>
			    		</div>
			    </section>
			    <footer class="modal-card-foot">
			      <button class="button is-primary" type="submit">Submit</button>
			      <a class="button" id="cancel">Cancel</a>
			    </footer>
			  </div>
			</div>
		</form>
		<script type="text/javascript">
			var modal = document.getElementById("myModal");
			document.getElementById("myBtn").onclick = function() { modal.style.display = "block"; }
			document.getElementById("del").onclick = function() { modal.style.display = "none"; }
			document.getElementById("background").onclick = function() { modal.style.display = "none"; }
			document.getElementById("cancel").onclick = function() { modal.style.display = "none"; }
		</script>
	</div>

</body>
</html>