<!-- About Us Modal -->
    <div class="modal" id="about_modal">
        <div onclick="closeAbout()" class="modal-background" id="background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">About Us</p>
                <a onclick="closeAbout()" class="delete" id="about_del"></a>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h2>Welcome to Imagining Climate!</h2>
                    <h3>Who we are:</h3>
                    <p>Imagining Climate is an Arizona State University project started by a group of students: 
                    </p>

                    <p> Work in Progress </p>
                </div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
    </div>