<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/share/share_main.css">
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
		<link rel="stylesheet" type="text/css" href="css/explore/explore_main.css">

    <script src="http://www.webglearth.com/v2/api.js"></script>
		<script src="js/explore/explore_init.js"></script>
		<script src="js/explore/explore_function.js"></script>

		<title>Explore</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="materialize/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="css/ionicons.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="css/animate.css">
		<script src="materialize/js/materialize.min.js"></script>

    <style>
      html, body {padding: 0; margin: 0; background-color: black;}
      #earth_div {top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>

  </head>

  <!-- navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" style="padding-left: 20px">Imagining Climate</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About Us</a></li>
        <li><a href="/share">Share</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/about">About Us</a></li>
        <li><a href="/share">Share</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div id="modal1" class="modal modal-fixed-footer" style="background-color: rgb(20, 63, 108);">
    <div class="animated zoomIn" style="animation-delay: 0.1s; padding-left: 20px;padding-right: 20px;padding-top: 20px;">
      <div class="card" style="margin-bottom: 0px;">
            <div class="card-content">
              <div id="location_content" class="chip">
                
              </div>
            </div>
      </div>
      <div id="triangle-down" style="align: right;"></div>
    </div>
    <div class="animated zoomIn" style="animation-delay: 0.2s; padding-left: 20px;padding-right: 20px;padding-top: 20px;">
      <div class="card" style="margin-bottom: 0px;">
            <div class="card-content">
              <textarea id="textarea1" class="materialize-textarea" style="font-size: 20px; padding-bottom: 0px;padding-top: 0px; margin-bottom: 0px;"></textarea>
            </div>
      </div>
      <div id="triangle-down" style="align: right;"></div>
    </div>
  </div>

<body onload="world()">
  <div id="earth_div"  class="wrapper">
  </div>

  <script>
  $(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
  });

  var locations = [
    ["Grand_Canyon_National_Park", [36.05972, -112.10972]],
    ["Tonto_Natural_Bridge_State_Park", [34.32195, -111.45333]],
    ["Organ_Pipe_Cactus_National_Monument ", [31.95556, -112.80028]],
    ["Lake_Havasu", [34.50306, -114.36028]],
    ["Flagstaff", [35.14417, -111.66639]],
    ["Nogales", [31.42083, -110.84583]],
    ["Payson", [34.2325, -111.34473]],
    ["Phoenix", [33.42778, -112.00389]],
    ["Prescott", [34.57055, -112.43222]],
    ["Window_Rock", [35.6575, -109.06139]],
    ["Yuma", [32.65,-114.61667]],
    ["Safford", [32.85472, -109.63528]],
    ["Tucson", [32.13139, -110.95528]],
    ["Tombstone", [31.71194, -110.06961]],
    ["Tuzigoot_National_Monument", [34.77055, -112.02639]]
  ];

  $('#location_content').click(function() {
    alert("location_content clicked");
  });

  $('a#Flagstaff').load(function() {
    alert("flagstaff loaded");

    $('a#Flagstaff').click(function() {
      alert("flagstaff clicked");
    });
  });

  // $('a#Flagstaff').click(function() {
  //   alert("flagstaff clicked");
    
  //   // $.ajax({
  //   //   type: "GET",
  //   //   dataType: "json",
  //   //   url: "/locations/Flagstaff?callback=?",
  //   //   success: function() {
  //   //     console.log('success');
  //   //   },
  //   //   error: function() {
  //   //     console.log('error');
  //   //   },
  //   //   complete: function() {
  //   //     console.log('complete');
  //   //   }
  //   // });
  //   // console.log('zzz');
  //   //   // console.log("location = " + location);
  //   //   // var xhr = new XMLHttpRequest();
  //   //   // xhr.onreadystatechange = function() {
  //   //   //   console.log ("readyState="+xhr.readyState + "\tstatus="+xhr.status);
  //   //   //   if (xhr.readyState == 4 && xhr.status == 200) {
  //   //   //     document.getElementById("location_content").innerHTML = this.responseText;
  //   //   //   };
  //   //   // };
  //   //   // xhr.open("GET", "http://www.imaginingclimate.com/locations/"+location, true);
  //   //   // xhr.send();

  //   //   // $.getJSON("http://imaginingclimate.com/locations/"+location+"?callback=?", function(response) {
  //   //   //     $.each(response.data, function(x, story) {
  //   //   //       console.log("hi" + story);
  //   //   //       $("#location_content").append('<p>' + story.location + "</p>");
  //   //   //     });
  //   //   //   });
  // });
  </script>

</body>



</html>
