<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/share/share_main.css">
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
		<link rel="stylesheet" type="text/css" href="css/explore/explore_main.css">

    <script src="http://www.webglearth.com/v2/api.js"></script>
		<script src="js/explore/explore_init.js"></script>
		<script src="js/explore/explore_function.js"></script>
    <script src="js/global/about.js"></script>
		<title>Explore - Imagining Climate</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="materialize/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="css/ionicons.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="css/animate.css">
		<script src="materialize/js/materialize.min.js"></script>

    <style>
      html, body {padding: 0; margin: 0; background-color: black;}
      #earth_div {top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
      .navbar {
          background-color: #00D1B2;
          color: white;
      }
    </style>

  </head>

  <!-- navbar -->
  <nav class="navbar">
      <div class="navbar-brand">
          <a class="navbar-item" href="http://www.imaginingclimate.com"><b>Imagining Climate</b></a>
          <span id="nav-toggle" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
          </span>
      </div>
      <div class="navbar-menu is-primary">
          <div class="navbar-end">
              <a class="navbar-item" onclick="showAbout()">About Us</a>
              <a class="navbar-item" href="/share">Share</a>
              <a class="navbar-item" href="/explore">Explore</a>
          </div>
      </div>
  </nav>

  <div id="modal1" class="modal modal-fixed-footer" style="background-color: rgb(20, 63, 108);">
    <div id="cardholder" class="animated zoomIn" style="animation-delay: 0.1s; padding-left: 20px;padding-right: 20px;padding-top: 20px;"></div>
    <div class="animated zoomIn" style="animation-delay: 0.2s; padding-left: 20px;padding-right: 20px;padding-top: 20px;">
      <div class="card" style="margin-bottom: 0px;">
      </div>
      <div id="triangle-down" style="align: right;"></div>
    </div>
  </div>

<body onload="world()">
  <div id="earth_div"  class="wrapper">
  </div>

  <!-- About Us Modal -->
  <div class="modal" id="about_modal">
      <div onclick="closeAbout()" class="modal-background" id="background"></div>
      <div class="modal-card">
          <header class="modal-card-head">
              <p class="modal-card-title">About Us</p>
              <a onclick="closeAbout()" class="delete" id="about_del"></a>
          </header>
          <section class="modal-card-body">
              <div class="content">
                  <h2>Welcome to Imagining Climate!</h2>
                  <p>Designed by Pat Patanarutapon, we are a group of students at Arizona State University who created Imagining Climate to gauge how local communities understand the changing climate around them.</p>
                  <p>What-if questions, derived from climate data, provoke the public’s imagination. This is a fun, interactive way to learn about our changing environmental conditions while contributing to a call to action or further research on the future of climate change!</p>
                  <br/>
                  <br/>
                  <p>Our climate data is acquired from the <b>Southwest Climate and Environmental Information Collaborative</b>. A link to the data can be found <a href="https://wrcc.dri.edu/csc/scenic/analysis/single/climatology/?gridded_data=True">here</a>. Citation: "Applied Climate Information System." RCC-ACIS. NOAA Regional Climate Centers, [Dec. 13 2017]</p>
              </div>
          </section>
          <footer class="modal-card-foot">
          </footer>
      </div>
  </div>

  <script>
  $(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
  });
  </script>

</body>
</html>
