<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" runat="server" href="/css/home/main.css">
        <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://www.webglearth.com/v2/api.js"></script>
        <script src="js/home/home_init.js"></script>
        <script src="js/home/home_function.js"></script>
        <title>Imagining Climate</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="materialize/css/materialize.min.css">
        <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/animate.css">
        <script src="materialize/js/materialize.min.js"></script>
    </head>

    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo" style="padding-left: 20px">Imagining Climate</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a onclick="showAbout()" id="about_button1">About Us</a></li>
            <li><a onclick="showLogin()" id="login1">Login/Signup</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a onclick="showAbout()" id="about_button2">About Us</a></li>
            <li><a onclick="showLogin()" id="login2">Login/Signup</a></li>
          </ul>
        </div>
    </nav>

<body onload="world()">
    <!-- Display for page -->
    <div id="earth_div" class="wrapper">
        <div class="hover">
            <center><h2 style="color: rgb(255, 255, 255);">Imagining Climate</h2></center>
            <center><h4 style="color: rgb(255, 255, 255);">A Shared Imagination of Earth's Future</h4></center>
            <!-- Icons go here -->
            <div class="columns">
                <div class="column">
                    <img src="images/home_icon1.png"/>
                    <center><p style="color: rgb(255, 255, 255);">1. Select a location </p></center>
                </div>
                <div class="column">
                    <img src="images/home_icon2.png"/>
                    <center><p style="color: rgb(255, 255, 255);">2. Imagine its future using real data</p></center>
                </div>
                <div class="column">
                    <img src="images/home_icon3.png"/>
                    <center><p style="color: rgb(255, 255, 255);">3. Share your prediction with the world!</p></center> 
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal" id="myModal">
        <div onclick="closeLogin()" class="modal-background" id="background"></div>
        <form action="/login" method="post">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Login/Signup</p>
                    <a onclick="closeLogin()" class="delete" id="del"></a>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Username</label>
                        <p class="control">
                            <input class="input" type="text" name="username" id="user" placeholder="Enter your username">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <p class="control">
                            <input class="input" type="password" name="password" placeholder="Enter your password here">
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-primary" id="submit">Login</button>
                    <a onclick="closeLogin()" class="button" id="cancel">Cancel</a>
                    <label>Need an account? Sign up <a href="/signup">here</a>.</label>
                </footer>
            </div>
        </form>
    </div>
    
    <!-- Error Modal -->
    <div class="modal" id="myError_Modal">
        <div onclick="closeError()" class="modal-background" id="background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Oops!</p>
                <a onclick="closeError()" class="delete" id="error_del"></a>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Your username or password is incorrect!</label>
                    </p>
                </div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
    </div>
    
    <!-- About Us Modal -->
    <div class="modal" id="about_modal">
        <div onclick="closeAbout()" class="modal-background" id="background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">About Us</p>
                <a onclick="closeAbout()" class="delete" id="about_del"></a>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h2>Welcome to Imagining Climate!</h2>
                    <h3>Who we are:</h3>
                    <p>What-if questions, derived from climate data, provoke the public’s imagination. This is a fun, interactive way to learn about our changing environmental conditions while contributing to a call to action or further research on the future of climate change!</p>

                </div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
    </div>
</body>

<script>
$(document).ready(function() {
    // When document is ready, if login was failed, display modal message
    var error_modal = document.getElementById("myError_Modal");
    var login_status = window.location.href;
    if (login_status.includes("failed") == true)
       error_modal.style.display = "block";
});
</script>

</html>