<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" runat="server" href="/css/home/main.css">
        <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://www.webglearth.com/v2/api.js"></script>
        <script src="js/home/home_init.js"></script>
        <script src="js/home/home_function.js"></script>
        <script src="js/global/about.js"></script>
        <title>Home - Imagining Climate</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="materialize/css/materialize.min.css">
        <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/animate.css">
        <script src="materialize/js/materialize.min.js"></script>
    </head>

    <nav class="navbar is-black">
        <div class="navbar-brand">
            <a class="navbar-item" href="http://www.imaginingclimate.com">Imagining Climate</a>
            <div class="navbar-burger">
                <span><a class="navbar-item" onclick="showAbout()">About Us</a></span>
                <span><a class="navbar-item" href="/share">Share</a></span>
                <span><a class="navbar-item" href="/explore">Explore</a></span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" onclick="showAbout()">About Us</a>
                <a class="navbar-item" href="/share">Share</a>
                <a class="navbar-item" href="/explore">Explore</a>
            </div>
        </div>
    </nav>
    
<body onload="world()">
    <!-- Display for page -->
    <div id="earth_div" class="wrapper">
        <div class="hover">
            <center id="title_ani"><h2 style="color: rgb(255, 255, 255);">Imagining Climate</h2></center>
            <center id="motto_ani"><h4 style="color: rgb(255, 255, 255);">A Shared Imagination of Earth's Future</h4></center>
            <!-- Icons go here -->
            <div class="columns">
                <div class="column">
                    <div id="img_fade1">
                        <center>
                            <figure class="image is-256x256">
                                <img src="images/home_icon1.png"/>
                            </figure>
                        </center>
                        <center><p style="color: rgb(255, 255, 255);">1. Select a location </p></center>
                    </div>
                </div>
                <div class="column">
                    <div id="img_fade2">
                        <center>
                            <figure class="image is-256x256">
                                <img src="images/home_icon2.png"/>
                            </figure>
                        </center>
                        <center><p style="color: rgb(255, 255, 255);">2. Imagine its future using real data</p></center>
                    </div>
                </div>
                <div class="column">
                    <div id="img_fade3">
                        <center>
                            <figure class="image is-256x256">
                                <img src="images/home_icon3.png"/>
                            </figure>
                        </center>
                        <center><p style="color: rgb(255, 255, 255);">3. Share your prediction with the world!</p></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- About Us Modal -->
    <div class="modal" id="about_modal">
        <div onclick="closeAbout()" class="modal-background" id="background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">About Us</p>
                <a onclick="closeAbout()" class="delete" id="about_del"></a>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h2>Welcome to Imagining Climate!</h2>
                    <p>Designed by Pat Patanarutapon, we are a group of students at Arizona State University who created Imagining Climate to gauge how local communities understand the changing climate around them.</p>
                    <p>What-if questions, derived from climate data, provoke the public’s imagination. This is a fun, interactive way to learn about our changing environmental conditions while contributing to a call to action or further research on the future of climate change!</p>
                    <br/>
                    <br/>
                    <p>Our climate data is acquired from the <b>Southwest Climate and Environmental Information Collaborative</b>. A link to the data can be found <a href="https://wrcc.dri.edu/csc/scenic/analysis/single/climatology/?gridded_data=True">here</a>. Citation: "Applied Climate Information System." RCC-ACIS. NOAA Regional Climate Centers, [Dec. 13 2017]</p>
                </div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
    </div>
</body>

<script>
$(document).ready(function() {
    $("#img_fade1").ready(function() {
        $("#title_ani").ready(function() {
            $("#title_ani").hide().fadeIn(1000);
            $("#motto_ani").hide().fadeIn(1000);
        });
        $("#img_fade1").hide().delay(500).fadeIn(2000);
        $("#img_fade2").ready(function() {
            $("#img_fade2").hide().delay(1000).fadeIn(2000);
            $("#img_fade3").ready(function() {
                $("#img_fade3").hide().delay(2000).fadeIn(2000);
            });
        });
    });
});
</script>

</html>