<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" runat="server" href="/css/home/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://www.webglearth.com/v2/api.js"></script>
        <script src="js/home/home_init.js"></script>
        <script src="js/home/home_function.js"></script>
        <title>iClimate</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="materialize/css/materialize.min.css">
        <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/animate.css">
        <script src="materialize/js/materialize.min.js"></script>
    </head>
    
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="http://bulma.io/images/bulma-logo.png" alt="iClimate: insert text here..." width="112" height="28">
            </a>
            <!-- <a href="/" class="brand-logo" style="padding-left: 20px">iClimate</a> -->

            <div id="navMenuExample" class="navbar-menu">
                <div class="navbar-start">
                    <!-- <a class="navbar-item" href="/">Home</a> -->
                </div>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/share">Share</a>
                <a class="navbar-item" href="/explore">Explore</a>
                <a class="navbar-item" id="login1">Login</a>
            </div>
        </div>
    </nav>

<body onload="world()">
    <div id="earth_div"  class="wrapper">
        <div class="hover">
            <center><h2 style="color: rgb(255, 255, 255);">iClimate</h2></center>
            <center><h4 style="color: rgb(255, 255, 255);">Share your climate imagination</h4></center>
            <center><p style="color: rgb(255, 255, 255);">iClimate is the social media platform for sharing vision and speculation about the future of our planet. This project is developed at Arizona State University</p></center>             
            <center><a class="waves-effect waves-light btn" id="login2">Sign In</a></center>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-background" id="background"></div>
        <form action="/login" method="post">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Login</p>
                    <a class="delete" id="del"></a>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Username</label>
                        <p class="control">
                            <input class="input" type="text" name="username" id="user" placeholder="Enter your username">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <p class="control">
                            <input class="input" type="password" name="password" placeholder="Enter your password here">
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-primary" id="submit">Submit</button>
                    <a class="button" id="cancel">Cancel</a>
                </footer>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        var modal = document.getElementById("myModal");
        document.getElementById("login1").onclick = function() { modal.style.display = "block"; }
        document.getElementById("login2").onclick = function() { modal.style.display = "block"; }
        document.getElementById("del").onclick = function() { modal.style.display = "none"; }
        document.getElementById("background").onclick = function() { modal.style.display = "none"; }
        document.getElementById("cancel").onclick = function() { modal.style.display = "none"; }
    </script>
</body>

</html>