<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" runat="server" href="/css/home/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://www.webglearth.com/v2/api.js"></script>
        <script src="js/home/home_init.js"></script>
        <script src="js/home/home_function.js"></script>
        <title>Imagining Climate</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="materialize/css/materialize.min.css">
        <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/animate.css">
        <script src="materialize/js/materialize.min.js"></script>
    </head>

    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo" style="padding-left: 20px">Imagining Climate</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a id="about_button1">About Us</a></li>
            <li><a id="login1">Login/Signup</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a id="/about_button2">About Us</a></li>
            <li><a id="login2">Login/Signup</a></li>
          </ul>
        </div>
    </nav>

<body onload="world()">
    <!-- Display for page -->
    <div id="earth_div"  class="wrapper">
        <div class="hover">
            <center><h2 style="color: rgb(255, 255, 255);">Imagining Climate</h2></center>
            <center><h4 style="color: rgb(255, 255, 255);">A Shared Imagination of Earth's Future</h4></center>
            <center><p style="color: rgb(255, 255, 255);">1. Select a location </p></center>
            <center><p style="color: rgb(255, 255, 255);">2. Imagine its future using real data</p></center>
            <center><p style="color: rgb(255, 255, 255);">3. Share your prediction with the world!</p></center>    
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal" id="myModal">
        <div class="modal-background" id="background"></div>
        <form action="/login" method="post">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Login/Signup</p>
                    <a class="delete" id="del"></a>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Username</label>
                        <p class="control">
                            <input class="input" type="text" name="username" id="user" placeholder="Enter your username">
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <p class="control">
                            <input class="input" type="password" name="password" placeholder="Enter your password here">
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-primary" id="submit">Login</button>
                    <a class="button" id="cancel">Cancel</a>
                    <label>Need an account? Sign up <a href="/signup">here</a>.</label>
                </footer>
            </div>
        </form>
    </div>
    
    <!-- Error Modal -->
    <div class="modal" id="myError_Modal">
        <div class="modal-background" id="background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Oops!</p>
                <a class="delete" id="error_del"></a>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Your username or password is incorrect!</label>
                    </p>
                </div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
    </div>
    
    <div class="modal" id="about_modal">
        <div class="modal-background" id="background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">About Us</p>
                <a class="delete" id="about_del"></a>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Hello there! Welcome to Imagining Climate!</label>
                    </p>
                </div>
            </section>
            <footer class="modal-card-foot">
            </footer>
        </div>
    </div>

    <!-- Script for modal -->
    <script type="text/javascript">
        var modal = document.getElementById("myModal");
        document.getElementById("login1").onclick = function() { modal.style.display = "block"; }
        document.getElementById("login2").onclick = function() { modal.style.display = "block"; }
        document.getElementById("del").onclick = function() { modal.style.display = "none"; }
        document.getElementById("background").onclick = function() { modal.style.display = "none"; }
        document.getElementById("cancel").onclick = function() { modal.style.display = "none"; }

        var error_modal = document.getElementById("myError_Modal");
        document.getElementById("error_del").onclick = function() { error_modal.style.display = "none"; }
        
        var login_status = window.location.href;
        if (login_status.includes("failed") == true)
           error_modal.style.display = "block";

       var aboutModal = document.getElementById("about_modal");
       document.getElementById("about_button1").onclick = function() { aboutModal.style.display = "block"; }
       document.getElementById("about_button1").onclick = function() { aboutModal.style.display = "block"; }
       document.getElementById("about_del").onclick = function() {aboutModal.style.display ="none"; }

    </script>

</body>

</html>