<!DOCTYPE HTML>
<html>
  <head>
		<link rel="stylesheet" type="text/css" href="css/share/share_main.css">
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://www.webglearth.com/v2/api.js"></script>
		<script src="js/share/share_init.js"></script>
		<script src="js/share/share_function.js"></script>
    <script src="js/global/about.js"></script>
		<title>Share - Imagining Climate</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="materialize/css/materialize.min.css">
		<link href="css/ionicons.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="css/animate.css">
		<script src="materialize/js/materialize.min.js"></script>

    <style>
    .gradient-icon {
        background: -webkit-gradient(linear, left top, left bottom, from(#21c3ef), to(#ff0000));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
    }
    .dropbtn {
        background-color: #00d1b2;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropbtn:hover, .dropbtn:focus {
        background-color: #00d1b2;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown a:hover {background-color: #f1f1f1}
    .show {display:block;}
    </style>
  </head>

	<!-- navbar -->
	<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" style="padding-left: 20px">Imagining Climate</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a onclick="showAbout()" id="about_button1">About Us</a></li>
        <li><a href="/explore">Explore</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a onclick="showAbout()" id="about_button1">About Us</a></li>
        <li><a href="/explore">Explore</a></li>
      </ul>
    </div>
  </nav>

<body onload="world()">
 <div id="earth_div"  class="wrapper">
   <div class="hover">
     <div class="row">
      <form action="/share" method="post">
        <div class="select">
          <select name="location" id="location" onchange="checkValid();updateTemps(window.sessionStorage.selectedLoc);">
            <% locs.forEach(function(loc) { %>
              <option value='<%=loc.name%>'><%= loc.name %></option>
            <% }); %>
          </select>
        </div>

        <!-- Question Prompt goes here -->
        <div class="animated zoomIn">
          <div class="card">
            <!-- Data goes here -->
            <div id="all_data" class="card-action">
              <!-- Data Labels - 1st row -->
              <div id="labels" class="columns">
                <div id="label1" class="column">
                  <i id="icon1" class="fa fa-thermometer-empty" style="font-size:30px; padding-top:8px;"></i>
                  Avg Min Temp (°F)
                </div>
                <div id="label2"  class="column">
                  <i id="icon2" class="fa fa-thermometer-full" style="font-size:30px; padding-top:8px;"></i>
                  Avg Max Temp (°F)
                </div>
                <div id="label3" class="column">
                  <i id="icon3" class="ion-waterdrop" style="font-size:30px"></i>
                  Avg Rain (in.)
                </div>
                <div id="label4" class="column">
                  <i id="icon4" class="ion-leaf" style="font-size:30px"></i>
                  Avg Plant Cover (%)
                </div>
                <div id="swap_measure" class="column">
                  <button>Switch to Metric!</button>
                </div>
              </div>
              <!-- Climate Data - 2nd row -->
              <div id="current_data" class="columns">
                <!-- Min temperature -->
                <div class="column">
                    <b id="min" style="font-size:30px; color:rgba(33, 195, 239, 0.6);"></b>
                </div>
                <!-- Max temperature -->
                <div class="column">
                  <b id="max" style="font-size:30px; color: rgba(255, 0, 0, 0.6);"></b>
                </div>
                <!-- Rain column -->
                <div class="column">
                  <b id="rain" style="font-size:30px; color: rgba(11, 83, 226, 0.6);"></b>
                </div>
                <!-- Plant cover column -->
                <div class="column">
                  <b id="plant" style="font-size:30px; color: rgba(13, 135, 2, 0.6);"></b>
                </div>
                <!-- Shift column -->
                <div class="column">
                  <button id="shift" class="animated flipInX" style="animation-delay: 1.3s;" onclick="newTemps(window.sessionStorage.currentTemps)">View data from 2050!</button>
                  </div>
                </div>
              </div>
              <!-- Data Deltas -->
              <div id="data_delta" class="columns">
                <div class="column">
                  <i id="plus1" class="fa fa-plus" style="font-size: 30px;"></i>
                  <i id="minus1" class="fa fa-minus" style="font-size: 30px;"></i>
                  <b id="delta1" style="font-size:30px;"></b>
                </div>
                <div class="column">
                  <i id="plus2" class="fa fa-plus" style="font-size: 30px;"></i>
                  <i id="minus2" class="fa fa-minus" style="font-size: 30px;"></i>
                  <b id="delta2" style="font-size:30px;"></b>
                </div>
                <div class="column">
                  <i id="plus3" class="fa fa-plus" style="font-size: 30px;"></i>
                  <i id="minus3" class="fa fa-minus" style="font-size: 30px;"></i>
                  <b id="delta3" style="font-size:30px;"></b>
                </div>
                <div class="column">
                  <i id="plus4" class="fa fa-plus" style="font-size: 30px;"></i>
                  <i id="minus4" class="fa fa-minus" style="font-size: 30px;"></i>
                  <b id="delta4" style="font-size:30px;"></b>
                </div>
              </div>
              <!-- 2050 Climate Data - 4th row -->
              <div id="future_data" class="columns">
                <div class="column">
                  <b id="min2050" style="font-size:30px; color: rgba(33, 195, 239, 0.6);"></b>
                </div>
                <div class="column">
                  <b id="max2050" style="font-size:30px; color: rgba(175, 0, 0, 0.6);"></b>
                </div>
                <div class="column">
                  <b id="rain2050" style="font-size:30px; color: rgba(11, 83, 226, 0.6);"></b>
                </div>
                <div class="column">
                  <b id="plant2050" style="font-size:30px; color: rgba(13, 135, 2, 0.6);"></b>
                </div>
              </div>
            </div>
            <!-- Question button & prompt -->
            <div id="question_content" class="card-content">
              <a class="btn-floating btn-small waves-effect waves-light red" onclick="shuffle_question()"><i class="fa fa-refresh"></i></a>
              <span id="random_question"></span>
            </div>
            
          </div>
        </div>
        <!-- End of question prompt -->

        <!-- Story input goes here -->
        <div class="animated zoomIn" style="animation-delay: 0.2s;">
          <div class="card" style="margin-bottom: 0px;">
            
               <div class="card-content">
                <div class="columns">
                  <div class="column is-half is-offset-one-quarter">
                    <input class="input" onkeyup="checkValid()" type="text" id="title" name="title" placeholder="Give your story a title!"></input>
                  </div>
                </div>
                <textarea class="textarea" onkeyup="checkValid()" id="textarea1" name="story" style="font-size: 20px; padding-bottom: 0px;padding-top: 0px; margin-bottom: 0px;" placeholder="Write your story here!"></textarea>
                <br/>
                <input class="input" onkeyup="checkValid()" type="text" id="user" name="user" placeholder="Story written by:"
                <div class="columns">
                  <div class="column is-half is-offset-5">
                    <button class="button is-primary" id="sharesubmit" type="submit">Submit!</button>
                  </div>
                </div>
              </div>
          </div>
          <div id="triangle-down" style="align: right;"></div>
        </div>
        <!-- End of story input -->
      </form>
      <!-- End of form -->
  </div>
</div>
</div>

<!-- About Us Modal -->
<div class="modal" id="about_modal">
    <div onclick="closeAbout()" class="modal-background" id="background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">About Us</p>
            <a onclick="closeAbout()" class="delete" id="about_del"></a>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h2>Welcome to Imagining Climate!</h2>
                <p>Designed by Pat Patanarutapon, we are a group of students at Arizona State University who created Imagining Climate to gauge how local communities understand the changing climate around them.</p>
                <p>What-if questions, derived from climate data, provoke the public’s imagination. This is a fun, interactive way to learn about our changing environmental conditions while contributing to a call to action or further research on the future of climate change!</p>
                <br/>
                <br/>
                <p>Our climate data is acquired from the <b>Southwest Climate and Environmental Information Collaborative</b>. A link to the data can be found <a href="https://wrcc.dri.edu/csc/scenic/analysis/single/climatology/?gridded_data=True">here</a>. Citation: "Applied Climate Information System." RCC-ACIS. NOAA Regional Climate Centers, [Dec. 13 2017]</p>
            </div>
        </section>
        <footer class="modal-card-foot">
        </footer>
    </div>
</div>
</body>

<script>
  // When the document first loads, set the button to invisible.
  $(document).ready(function() {
     document.getElementById("sharesubmit").style.visibility = "hidden";
     hide_all();
     hide_arrows();
  });
  shuffle_question();
</script>
</html>
