<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/share/share_main.css">
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
		<link rel="stylesheet" type="text/css" href="css/explore/explore_main.css">

    <script src="http://www.webglearth.com/v2/api.js"></script>
		<script src="js/home/home_init.js"></script>
    <script src="js/home/home_function.js"></script>

		<title>View</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="materialize/css/materialize.min.css">
		<link href="css/ionicons.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="css/animate.css">
		<script src="materialize/js/materialize.min.js"></script>

    <style>
      html, body {padding: 0; margin: 0; background-color: black;}
      #earth_div {top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>

  </head>

  <!-- navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" style="padding-left: 20px">Imagining Climate</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About Us</a></li>
        <li><a href="/share">Share</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/about">About Us</a></li>
        <li><a href="/share">Share</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

<body onload="world()">
  <div id="earth_div" class="wrapper">
    <div class ="hover">
      <script> console.log("HIIIIIi"); </script>
      <% data.forEach(function(entry) { %>
        <script>
          console.log(<%= entry %>);
        </script>
        <center><h2><%= entry.title %></h2></center>
        <center><h4><%= entry.author %></h4></center>
        <center><h5><%= entry.story %></h5></center>
        <center><span class="icon"><i class="fa fa-remove"></i></span></center>
      <% }); %> 
    </div>
  </div>
</body>

</html>
